.mainContainerInputCheck {
    position: relative;
}

.errorInput input, .errorInput .ant-select-selection {
    border: 1px solid #ff6d6d;
    color: #ff6d6d;
}

.errorInput input:hover, .errorInput .ant-select-selection {
    border: 1px solid #ff6d6d !important;
    color: #ff6d6d;
}

.errorMsgInput {
    position: absolute;
    color: #ff6d6d;
    font-size: 11px;
}

.errorColor {
    color: #ff6d6d;
}

.errorIconInput {
    position: absolute;
    z-index: 100;
    color: #ff6d6d;
    right: 6px;
    width: 20px;
    text-align: center;
    bottom: 4px;
    font-size: 16px;
    background: #ffffff;
}
