.containerPopoverProfilHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    width: 550px;
}

.containerInfosProfil {
    margin-left: 10px;
}

.addressProfil {
    font-weight: 500;
}

.emailProfil {
    position: relative;
    bottom: 2px;
    color: #929292;
    font-size: 11px;
}

.iconDownProfilHeader {
    position: relative;
    left: 5px;
}

.textIconAccount {
    margin-left: 10px;
}

.titlePartAccount {
    margin: 15px 0;
    border-bottom: 1px solid #e8e8e8;
    font-size: 18px;
}