body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-btn-danger, .ant-btn-danger:focus {
    background: #E3EEEE;
    border-color: #E3EEEE;
    color: #ffffff;
}

.ant-btn-danger:hover {
    background: #E3EEEE;
    border-color: #E3EEEE;
    color: #ffffff;
}

.title {
    font-weight: 300;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
}

hr {
    margin: 20px 0;
}

.pointer {
    cursor: pointer;
}

.bold {
    font-weight: bold !important;
}

.semiBold {
    font-weight: 500 !important;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.smallFontSize {
    font-size: 11px;
}

.emptyInfo {
    font-style: italic;
    color: #a4a4a4;
}

h1 {
    font-size: 2em;
}

// ----------------------------------------------------------------------------------------------

.headerLogo {
    background: #cde2e2;
    text-align: center;
    height: 70px;
}

.logo {
    position: relative;
    width: 80%;
    top: 20px;
}

.logoMetaMask {
    position: relative;
    width: 100%;
    bottom: 10px;
}

.width100{
    width: 100%;
}

.bottom20{
    bottom: 20px;
}